body{
    background-color: black;
}

    form{
    background-color: rgba(8, 11, 157, 0.329);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: solid 4px #00ff00;
    color: aliceblue;
    text-align: center;
    }

.logo{
    margin-top: -35%;
    margin-bottom: -35%;
}



.alinhar-label{
    display: flex;
    padding: 1px;
    margin: 5px;
    margin-left: 30px;
    min-width: 100px;
    align-items: center;
}

input{
 display: flex;
 border-radius: 5px;
 margin-left: 10px;
}

